#social a {
  color: black;
}

#social li {
  display: inline-block;
}

.footer {
  margin-top: 10px;
  text-align: center;
}

[class^="icon-"], [class*=" icon-"] {
  background-image: none;
}

ul.posts span {
  font-family: 'Lucida Console', 'Andale Mono', monospace;
  color: #aaa;
  padding-right: 5px;
  font-size: 14px;
}

.icon-hn {
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 16px;
  height: 20px;
  width: 20px;
  text-align: center;
  position: relative;
  bottom: 2px;
  margin-left: 10px;
}
