<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>StaticElastic: An Elasticsearch and Backbone SPA</title>
  <meta name="description" content="StaticElastic: An Elasticsearch and Backbone SPA">
  <meta name="author" content="Jrgns <jrgns@jrgns.net">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="../css/reveal.css">
  <link rel="stylesheet" href="../css/theme/solarized.css" id="theme">
  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="../lib/css/github-gist.css">
  <!-- If the query includes 'print-pdf', use the PDF print sheet -->
  <script>
  document.write( '<link rel="stylesheet" href="../css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
  </script>
  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div class="reveal">
    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
      <section>
        <h1>StaticElastic:<br>An ES and BB SPA</h1>
          <h3>Jurgens du Toit / <a href="https://twitter.com/jrgns">@jrgns</a></h3>
          <h3><a href="http://blog.eagerelk.com"><img style="border: 0px;" width="320px" src="img/elk_header.png" alt="EagerELK"></a></h3>
      </section>
      <section>
        <section>
          <h2>Elasticsearch</h2>
          <img src="img/elasticsearch_trends.png">
          <aside class="notes" data-markdown>
* Started out as a search engine / interface to Lucene
* Started evolving into other use cases
* NoSQL?
* Elasticsearch (the company) -> Elastic
* Currently Version 1.6, active development
          </aside>
        </section>
        <section>
          <h2>Elastic / ELK / Found</h2>
          <table style="width: 50%">
            <tr>
              <td>
          <img style="height: 120px" src="img/logstash.png">
          <img style="height: 120px" src="img/kibana.png">
              </td>
              <td><img style="width: 120px" src="img/found.png"></td>
            </tr>
          </table>
          <aside class="notes" data-markdown>
* Developed by Elastic (valued at > $700 mil)
* The rest of the ELK stack
* Support Contracts
* Plugins
  - Marvel
  - Shield
  - Watcher
* Talk about the company - community involvement, etc.
          </aside>
        </section>
        <section>
          <h3>Vitals</h3>
          <img style="height: 360px;" src="img/vitalstatistix.jpg">
          <aside class="notes" data-markdown>
* REST interface to a schema-free JSON document store
* Plugin Architecture
* Near Real Time reads
* Search
* Aggregations
* Basic CRUD
          </aside>
        </section>
        <section>
          <h3>Architecture</h3>
          <img src="img/architecture.jpeg">
          <aside class="notes" data-markdown>
* Runs over Lucene and provides distribution and an API
* Meant to run in a Cluster
* Shards and Replicas provides redundancy
* CAP - Consistency, Availability, Partition tolerance
* Indices and Types
* Mappings
          </aside>
        </section>
      </section> 
      <section>
        <h2>Backbone</h2>
        <aside class="notes" data-markdown>
* One of the first MVP libraries / frameworks
* Lightweight
* Easy to parse
* Serves as a prototype of how to implement an SPA using ES as a backend
        </aside>
      </section>
      <section>
        <h2>SPA: Why Backbone and ES</h2>
        <img src="img/fastandfurious.jpg">
        <aside class="notes" data-markdown>
* HTTP, REST and CORS out of the box
* Can't serve files like CouchDB, but hey
* Versioning
* Relations
* Routing
* Silos

* Oh, yes, search!
  - highlighting
  - spanning
  - fuzzy search
  - more of the same
  - relational
  - geo
        </aside>
      </section>
      <section>
        <h2>Why NOT Elasticsearch</h2>
        <img src="img/needle-in-a-haystack.jpg"><br>
        <h3 class="fragment">
          <a href="https://www.elastic.co/guide/en/elasticsearch/resiliency/current/index.html">They're working on it</a>
        </h3>
        <aside class="notes" data-markdown>
* Aphyr June 2014 - 1.1, April 2015 - 1.5
* Sometimes CP, sometimes AP

You can lose documents if

* The network partitions into two intersecting components
* Or into two discrete components
* Or if even a single primary is isolated
* If a primary pauses (e.g. due to disk IO or garbage collection)
* If multiple nodes crash around the same time

* Advice on preventing splitbrain / number of nodes / masters
* Advice on having a master DB replicating into search DB
* Are logs that important?
* Be careful with production data!

* Check the page on their data-loss & consistency issues / fixes. Great praise from Aphyr

* Be sure that you know your types / mappings before going into prod. Otherwise reindex and alias
        </aside>
      </section>
      <section>
        <section>
          <h2>StaticElastic</h2>
          <aside class="notes" data-markdown>
* Load documents
* Search / highlighting
* Fetch document
* Significant terms in the section
* Update
* Update conflict

Kibana (if there's time)
          </aside>
        </section>
        <section>
          <pre><code data-trim class="language-javascript">
// curl http://localhost:9200/static-elastic/guardian/_search
{
  "took" : 4,
  "timed_out" : false,
  "_shards" : {
    "total" : 1,
    "successful" : 1,
    "failed" : 0
  },
  "hits" : {
    "total" : 3938,
    "max_score" : 1.0,
    "hits" : [ {
      "_index" : "static-elastic",
      "_type" : "guardian",
      "_id" : "money-2015-jun-29-digital-banking-mondo-hopes-to-become-the-google-or-facebook-of-the-sector",
      "_score" : 1.0,
      "_source":{"title":"Digital banking:
      //...
                </code></pre>
        </section>
        <section>
          <pre><code data-trim class="language-javascript">
// curl http://localhost:9200/static-elastic/guardian/business-marketforceslive-2015-jun-29-ocado-jumps-more-than-2-on-hopes-of-international-deal
{
  "_index" : "static-elastic",
  "_type" : "guardian",
  "_id" : "business-marketforceslive-2015-jun-29-ocado-jumps-more-than-2-on-hopes-of-international-deal",
  "_version" : 1,
  "found" : true,
  "fields" : {
    "section" : [ "Business" ],
    "title" : [ "Ocado jumps more than 2% on hopes of international deal" ]
  }
}
          </code></pre>
        </section>
        <section>
          <pre><code data-trim class="language-javascript">
{
  "took" : 3,
  "timed_out" : false,
  "_shards" : {
    "total" : 1,
    "successful" : 1,
    "failed" : 0
  },
  "hits" : {
    "total" : 3938,
    "max_score" : 0.0,
    "hits" : [ ]
  },
  "aggregations" : {
    "keywords" : {
      "buckets" : [ {
        "key" : "Business",
        "doc_count" : 1298
      }, {
        "key" : "Books",
        "doc_count" : 967
      }, {
      //...
          </code></pre>
        </section>
        <section>
          <pre><code data-trim class="language-javascript">
// Backbone.Model.Page.sync
sync: function(method, model, options) {
  // Setup CORS
  options || (options = {});
  if (!options.crossDomain) { options.crossDomain = true; }

  // Do "partial" updates and fetch the _source field
  if (method === 'update' || method === 'create') {
    options.data = JSON.stringify({ "doc": model });
    options.type = 'POST';
    options.url  = model.url() + '/_' + method + \
      '?fields=_source&version=' + this.attributes._version;
  }

  return Backbone.Model.prototype.sync.call(
    this, method, model, options
  );
}
          </code></pre>
        </section>
        <section>
          <pre><code data-trim class="language-javascript">
// Backbone.Model.Page.parse (1)
parse: function(result) {
  if (result.get) {
    // This was from a create or an update
    result._source = result.get._source;
    delete result.get;
  }
  // Use the attributes in the `_source` field for the models attribs
  var model = _.extend(
    this.defaults, result._source ? result._source : {}
  );

  // Set the meta fields
  _.each(this.meta_fields, function(field) {
    if (result[field]) { model[field] = result[field]; }
  });
  //...
          </code></pre>
        </section>
        <section>
          <pre><code data-trim class="language-javascript">
// Backbone.Model.Page.parse (2)
parse: function(result) {
  //...
  // Check the highlighting
  if (result.highlight) {
    model.highlight = result.highlight;
  }
  //...
          </code></pre>
          <pre><code data-trim class="language-html">
&lt;!-- Collections Template --&gt;
<% pages.each(function(page) { %>
  <li>
    <a href="/<%= page.attributes._id %>">
      <% if (page.attributes.highlight) { %>
        <%= page.attributes.highlight.title %>
      <% } else { %>
        <%= page.attributes.title %>
      <% } %>
    </a>
  </li>
<% }) %>
          </code></pre>
        </section>
        <section>
          <pre><code data-trim class="language-javascript">
save: function(key, val, options) {
  if (typeof key === 'object') {
    key._version = this.attributes._version;
  }
  return Backbone.Model.prototype.save.call(this, key, val, options);
},

toJSON: function(options) {
  var data = _.clone(this.attributes);
  // Don't send the meta fields to the server when POST / PUT ing
  _.each(this.meta_fields, function(field) {
    if (data[field]) {
      delete data[field];
    }
  });
  return data;
}
          </code></pre>
        </section>
        <section>
          <pre><code data-trim class="language-javascript">
// Backbone.View.Pages
loadResults: function(evt) {
  var options = {
    remove: false, processData: this.search === '',
    data: { from: this.from }
  };
  if (this.search !== '') {
    options.data.query = { term: { title: this.search } };
    options.data.highlight = {
      pre_tags: [ '<strong>' ], post_tags: [ '</strong>' ],
      fields: { 'title': {} }
    };
    options.type = 'POST';
    options.data = JSON.stringify(options.data);
  }
  Pages.fetch(options);
},
          </code></pre>
        </section>
      </section>
      <section>
        <h2>Resources</h2>
        <img src="img/resources.jpg">
        <aside class="notes" data-markdown>
* Definitive Guide
* Support Contracts / Training
* Discourse
* Meetup - This month - Beginners guide to ES
* How to get started
* Angular Library
* Ansible plays
        </aside>
      </section>
      <section data-background="img/output.gif" data-background-size="90%">
        <h2>Questions</h2>
      </section>
      <section>
        <h2>Thanx!</h2>
        <ul>
          <li>jrgns.net</li>
          <li>EagerELK.com</li>
          <li>LogstashConfigGuide.com</li>
        </ul>
      </section>
    </div>
  </div>

  <script src="../lib/js/head.min.js"></script>
  <script src="../js/reveal.js"></script>

  <script>
  // Full list of configuration options available here:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

      // Optional libraries used to extend on reveal.js
      dependencies: [
      { src: '../lib/js/classList.js', condition: function() { return !document.body.classList; } },
      { src: '../plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: '../plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: '../plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: '../plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      { src: '../plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
      ]
    });
</script>
</body>
</html>
