<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>jrgns.net - {{ page.title }}</title>
    <meta name="author" content="J Jurgens du Toit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/spacelab.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.css">
    <style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    </style>
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/pygments.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
  </head>
  <body>
    <div class="navbar navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">jrgns.net</a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/hire-me.html">Hire Me</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3" style="text-align: center;">
          <p>
            <img class="thumbnail" style="display: inline-block; border: 2px solid silver;"
              src="http://www.gravatar.com/avatar/b57be2c7d4dc1fe290e0fc9589c53e54?s=180&d=identicon&r=PG">
          </p>
          <p>
            My&nbsp;name&nbsp;is&nbsp;&nbsp;<br>
            <strong>Jurgens&nbsp;du&nbsp;Toit</strong>.<br>
            Systems&nbsp;Developer.<br>
            Problem Solver.<br>
            PHP&nbsp;Expert.<br><br>
          </p>
          <p>I'm a consultant. <a href="/hire-me.html">Hire me</a></p>
          <ul id="social">
            <li><a title="jrgns on Github" href="http://github.com/jrgns/"><i class="icon-github icon-large"></i></a></li>
            <li><a title="Jurgens du Toit on LinkedIn" href="http://za.linkedin.com/in/jrgns/"><i class="icon-linkedin-sign icon-large"></i></a></li>
            <li><a title="jrgnsd on Hacker News" href="http://news.ycombinator.com/user?id=jrgnsd"><div class="icon-hn">Y</div></a></li>
            <li><a title="jrgns on Google Plus" href="https://plus.google.com/110669953091564058644" rel="author"><i class="icon-google-plus-sign icon-large"></i></a></li>
            <li><a title="jrgns on Twitter" href="http://twitter.com/jrgns"><i class="icon-twitter icon-large"></i></a></li>
            <li><a title="RSS feed" href="/atom.xml"><i class="icon-rss icon-large"></i></a></li>
          </ul>
          <h3>About Me</h3>
          <p>
            <!--I'm currently Lead Developer of Integrations at <a href="http://prefix.co.za">Prefix</a>, we build
            <a href="http://www.everlytic.co.za">Everlytic</a>.-->
            Technology and Solving Problems are my passion.
            I'm a South African that loves my wife, life, and coding.
          </p>
        </div>
        <div class="span9 content">
          {{ content }}
        </div>
      </div>
      <div class="footer">
          <div class="disclaimer">
            <p class="muted"><small>The postings on this site are my own and don't necessarily represent my
            employer’s positions, strategies or opinions.</small></p>
        </div>
      </div>
    </div>

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3257244-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- Piwik -->
  <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://stelsels.net/piwik/" : "http://stelsels.net/piwik/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
  </script>
  <noscript><p><img src="http://stelsels.net/piwik/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>
  <!-- End Piwik Tracking Code -->
    <!--<script src="/js/bootstrap.min.js"></script>-->
  </body>
</html>
